<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- datasource -->
        <property name="hibernate.connection.url">jdbc:postgresql://revaturedatabase.cvoau9rnhgsd.us-east-2.rds.amazonaws.com/RITS</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">OnePlus2021!</property>

        <!-- driver specs -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- make things pretty -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <mapping class="org.example.models.User"/>
        <mapping class="org.example.models.TicketType"/>
        <mapping class="org.example.models.Ticket"/>
    </session-factory>
</hibernate-configuration>
